<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel='stylesheet' href="/stylesheets/admin.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand brandName" href="#">The Reviewer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Today's Deals</a>
                </li>
                <li>
                    <div class="searchDiv">
                        {{!-- <form action="http://localhost:3000/admin/dashboard/search" method="POST"> --}}
                        <input type="text" id="searchUser" name="searchKey" placeholder="Search">
                        <button type="submit" class="searchbtn"><i id="searchBtn" class="fas fa-search"></i></button>
                        {{!-- </form> --}}
                    </div>
                </li>
            </ul>
            <a href="http://localhost:3000/admin/dashboard/logout">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
            </a>
        </div>
    </nav>

    <section>
        <div class="adminPage">
            <table id="searchedRow">
                <thead>
                    <tr>
                        <td>User Name</td>
                        <td>Email ID</td>
                        <td>Mobile Number</td>
                        <td>Password</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each result}}
                    <tr>
                        <td>{{this.User-Name}}</td>
                        <td>{{this.Email}}</td>
                        <td>{{this.Mobile-Number}}</td>
                        <td>{{this.Password}}</td>
                        <td><a href="http://localhost:3000/admin/dashboard/edit?id={{this._id}}"><i
                                    class=" fas fa-edit"></i></a>
                        </td>
                        <td><a href="http://localhost:3000/admin/dashboard/delete?id={{this._id}}" onclick="return confirm('Are you sure want to delete {{this.User-Name}}?'
                                ) "> <i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="addUserDetails">
                <a href=""><button id="addFormBtn" type="button">Add User</button></a>
            </div>
        </div>
    </section>
    {{#if editUserData}}
    <section>
        <div class="editForm" id="editForm">
            <div class="editHeader">
                <div>
                    <h2>Edit User</h2>
                </div>
                <div>
                    <a href=""><i id="editCloseBtn" class="fas fa-times"></i></a>
                </div>
            </div>
            <form action="http://localhost:3000/admin/dashboard/edit" method="POST" id="editUserForm">
                <label for="userName">User Name</label>
                <br>
                <input type="text" class="userName" name="userName" id="editUsername" value={{editUserData.User-Name}}>
                <br>
                <label for="email">Email</label>
                <br>
                <input type="email" class="email" name="email" id="editEmail" value={{editUserData.Email}}>
                <br>
                <label for="mobNo">Mobile Number</label>
                <br>
                <input type="text" class="mobNo" name="mobNo" id="editMobNo" value={{editUserData.Mobile-Number}}>
                <br>
                <button type="submit" id="editSubmitBtn">Register</button>
            </form>
        </div>
    </section>
    {{/if}}

    <section>
        <div class="addForm" id="addForm" style="display: none;">
            <div class="addHeader">
                <div>
                    <h2>Add User</h2>
                </div>
                <div>
                    <a href=""><i id="addCloseBtn" class="fas fa-times"></i></a>
                </div>
            </div>
            <form action="http://localhost:3000/admin/dashboard/add" method="POST" id="addUserForm">
                <label for="userName">User Name</label>
                <br>
                <input type="text" class="userName" name="userName" id="SignUpUsername" value="" required=true>
                <br>
                <label for="email">Email</label>
                <br>
                <input type="email" class="email" name="email" id="email" value="" required=true>
                <br>
                <label for="mobNo">Mobile Number</label>
                <br>
                <input type="text" class="mobNo" name="mobNo" id="mobNo" value="" required=true>
                <br>
                <label for="password">Password</label>
                <br>
                <input type="password" class="password" name="password" id="password" value="" required=true>
                <br>
                <button type="submit" id="registerSubmitBtn">Register</button>
            </form>
        </div>
    </section>
    {{#if addUserWarning}}
    <section>
        <div class="warningMessage">
            <p>{{addUserWarning}}</p>
        </div>
    </section>
    {{/if}}
    <script src="/javascripts/admin.js"></script>
</body>

</html>